html body {
  font-family: Arial, Helvetica, sans-serif;
}

.link-1 :hover {
    color: lightblue;
    font-weight: bold;
}

.link-2 :active {
  color: red;
  font-style: italic;
}

.link-3 :visited {
  background: yellow;
}

.text :focus {
  font-size: 20px;
  color: green;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    float:left;
    width: 25%;
}

.currentPage {
    background-color: rgb(108, 120, 164);
}

button {
    background:darkblue;
    width: 100%;
}

button:hover {
    background: lightblue;
}

.input1:focus {
    background: lightblue;
    width: 100%;
}
